
<div>
  <button (click)="getFile()" class ="btn btn-primary m-3">Ucitaj</button>
  <button (click)="saveFunction()" class ="btn btn-secondary m-3">Spremi</button>
  <label for="ucitaj" class ="btn btn-danger m-3" id="ucitajBtn">Browse</label>
  <input id="ucitaj" style="visibility: hidden;" type="file" #csvReader name="Upload CSV" (change)="uploadListener($event)" accept=".csv"/>
  <p *ngIf="returnMessage">{{returnMessage.message}}</p>
</div>
<table class="minimalistBlack">
  <thead>
    <tr>
      <th>Ime </th>
      <th>Prezime </th>
      <th>Postanski broj </th>
      <th>Grad </th>
      <th>Telefon </th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records;let i = index;" [style.background]=" record.err ? 'red' : '' ">    
      <td> <span>{{record.ime}}</span> </td>    
      <td> <span>{{record.prezime}}</span> </td>    
      <td> <span>{{record.postanskiBr}}</span> </td>    
      <td> <span>{{record.grad}}</span> </td>    
      <td> <span>{{record.brojTelefona}}</span> </td>      
    </tr>
  </tbody>
</table>
